<ion-view title="Configuracion" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="configuracion-form3" class="list">
      <ion-item class="item-divider" id="configuracion-list-item-divider3"> SERVIDOR SAP</ion-item>
      <label class="item item-input" id="configuracion-input6">
        <span class="input-label">Servidor:</span>
        <input type="text" placeholder="ejemplo.dns.com">
      </label>
      <label class="item item-input" id="configuracion-input8">
        <span class="input-label">Instancia:</span>
        <input type="text" placeholder="10">
      </label>
      <label class="item item-input" id="configuracion-input10">
        <span class="input-label">ID:</span>
        <input type="text" placeholder="LTS">
      </label>
      <label class="item item-input" id="configuracion-input11">
        <span class="input-label">Mandante:</span>
        <input type="text" placeholder="800">
      </label>
      <label class="item item-input" id="configuracion-input12">
        <span class="input-label">Servidor App:</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 42px;"></div>
      <ion-item class="item-divider" id="configuracion-list-item-divider2"> SERVIDOR APP</ion-item>
      <label class="item item-input" id="configuracion-input13">
        <span class="input-label">Nombre:</span>
        <input type="text" placeholder="myserver.com">
      </label>
    </form>
    <button id="configuracion-button5" class="button button-positive  button-block">Conectar</button>
  </ion-content>
</ion-view>