<ion-view title="INICIO" id="page1">
  <ion-content padding="true" class="has-header">
    <h1 id="iNICIO-heading2" style="color:#000000;text-align:center;">IRIS -SAP</h1>
    <div id="iNICIO-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>SAP R3</strong> en tus manos
        <strong>FalconSolutions</strong>
      </p>
    </div>
    <a ui-sref="menu.sAPBASIS" id="iNICIO-button8" class="button button-stable  button-block icon-right ion-ios-arrow-forward">SAP BASIS</a>
    <button id="iNICIO-button9" class="button button-stable  button-block icon-right ion-chevron-right">SAP FI</button>
    <button id="iNICIO-button27" class="button button-stable  button-block icon-right ion-chevron-right">SAP CO</button>
    <button id="iNICIO-button28" class="button button-stable  button-block icon-right ion-chevron-right">SAP MM</button>
    <button id="iNICIO-button31" class="button button-stable  button-block icon-right ion-chevron-right">SAP HCM</button>
    <button id="iNICIO-button29" class="button button-stable  button-block icon-right ion-chevron-right">SAP PM</button>
    <button id="iNICIO-button32" class="button button-positive  button-block icon-right ion-android-exit">SALIR</button>
  </ion-content>
</ion-view>