<ion-view title="Login" id="page4">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 62px;"></div>
    <form id="login-form1" class="list">
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input1">
          <span class="input-label">usuario:</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Contraseña:</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="login-button3" class="button button-stable  button-block">Log in</button>
    </form>
    <div id="login-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Entre los datos de acceso al servidor de la app.</p>
    </div>
  </ion-content>
</ion-view>